.slide-box
  .slide-block
    %h3
      = "Showing #{@count} slides"
      = "tagged with #{tag_name}" if tag_name
    .slides
      - @slides.each do |slide|
        = render slide
    .pagination= will_paginate @slides
