!!! XML
!!!

%html{html_attrs('en')}
  %head
    %meta{'http-equiv' => 'content-type', :content => 'text/html;charset=UTF-8'}
    %meta{:name => 'description', :content => 'RubySlide gathers all the latest Ruby slides and presentations in one convenient place!'}
    %title= 'RubySlide - Ruby Slides and Presentations for Ruby People'
    %link{:rel => 'shortcut icon', :href => '/favicon.ico'}
    = auto_discovery_link_tag :rss, 'http://feeds.feedburner.com/Rubyslidecom-RecentlyAdded'
    = stylesheet_link_tag 'screen', :media => 'screen, projection'
    = stylesheet_link_tag 'print', :media => 'print'
    <!--[if lt IE 8]>
    = stylesheet_link_tag 'ie', :media => 'screen, projection'
    <![endif]-->
    = stylesheet_link_tag 'rubyslide', :media => 'screen, projection'

  %body
    .container#header
      = render :partial => 'shared/header'
    .container
      .body.span-19
        = yield
      #sidebar.sidebar.span-5.last
        = render :partial => 'shared/sidebar'
      .clear
      .footer
        = render :partial => 'shared/footer'
    = render :partial => 'shared/google_analytics'
